* {
	padding: 0px;
	margin: 0px;
	border: none;
    font-family: 'Inter', sans-serif;
    color: #1B1B1B;
}

body {
    background-color: #F5F5F5;
}

.header {
    padding: 16px 24px;
    display: flex;
    background-color: #EFEFEF;
    position: fixed;  
    top: 0;
    z-index: 100;
    width: 100%;
    justify-content: space-between;
    gap: 10px;
}

.container {
    width: 640px;
}

.header__center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.button-create {
    display: flex;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.search-form__input {
    display: flex;
    width: 400px;
    padding: 12px 16px;
    align-items: center;
    border-radius: 8px;
    background: #E1E1E1;
    color: #1B1B1B;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.logo {
    display: flex;
    flex: 1 0 0;
}

.button-signin {
    display: flex;
    padding: 12px 16px;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    margin-right: 32px;
}

.button-signin__text {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.icon24 {
    width: 24px;
    height: 24px;
}

.sidebar {
    width: 200px;
}

.sidebar__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    gap: 8px;
    position: fixed;
    left: 16px;
    top: 104px;
    z-index: 100;
}

.sidebar__item {
    display: flex;
    padding: 12px 16px;
    gap: 16px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 8px;
}

.sidebar__item > a{
    display: flex;
    gap: 16px;
}

.sidebar__item:hover {
    background-color: #eee;
}

.sidebar__item > a {
    text-decoration: none;
    color: #1B1B1B;
}

.sidebar__list > li:first-child {
    background-color: #fff;
}

.sidebar__down {
    display: flex;
    width: 200px;
    gap: 8px;
    flex-wrap: wrap;
    position: fixed;
    bottom: 16px;
}

.sidebardown__item {
    display: flex;
    gap: 16px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 8px;
    margin-left: 12px;
}

.sidebardown__item > a {
    text-decoration: none;
    color: #1B1B1B;
}

.layout {
    display: flex;
}

.content {
    width: 640px;
    position: absolute;
    top: 101px;
    left: calc(50% - 330px);
    padding-bottom: 16px;
}

.article-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.article {
    border-radius: 16px;
    background: #FFF;
    padding: 24px;
}

.article__up {
    display: flex;
    gap: 16px;
}

.article__down {
    display: flex;
    gap: 16px;
}

.article__category {
    display: flex;
    gap: 8px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.article__author {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.article__pubdate {
    color: #939393;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.article__title {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 16px;
}

.article__sometext {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin-top: 8px;
}

.article__down {
    color: #7B7B7B;
    font-size: 16px;
    font-style: normal;
    margin-top: 16px;
    font-weight: 400;
}

.article-down__item {
    display: flex;
    gap: 8px;
}

.article-down__item > p{
    color: #7B7B7B;
}